@page "{handler?}"
@model project.Pages.EditorModel
@using Microsoft.Data.Sqlite

@{
}
<style>
    .form-text {
        display: block;
        text-align: center;
        position: center;
        width: 350px;
        padding: 15px;
        margin: auto;
    }

    label {
        width: 200px;
    }

    textarea.cshtml {
        width: 300px;
        height: 350px;
        padding: 5px 10px 5px 10px;
        border: 1px solid #808080;
        text-align: start;
        font-size: 16px;
        font-family: Tahoma;
    }

    input {
        width: 300px;
    }

        input.but {
            width: 300px;
        }

    .signup {
        text-align: center;
    }
</style>

@for (int i = 0; i < 1; i++)
{
    string sqlExpression = $"SELECT * FROM Posts WHERE _id = {@Program.tempPage}";
    using (var connection = new SqliteConnection("Data Source=project.db"))
    {
        connection.Open();

        SqliteCommand command = new SqliteCommand(sqlExpression, connection);
        using (SqliteDataReader reader = command.ExecuteReader())
        {
            if (reader.HasRows) // если есть данные
            {
                while (reader.Read())   // построчно считываем данные
                {
                    var id = reader.GetValue(0);
                    var name = reader.GetValue(1);
                    var description = reader.GetValue(2);
                    var cshtml = reader.GetValue(3);
                    var title = reader.GetValue(4);
                    

                    <h1 align="center">Изменение поста</h1>
                    <form asp-page-handler="OnUpdt" method="get">
                        <input type="number" id="@Program.tempPage" name="id" value="@Program.tempPage" hidden="hidden" />
                        <div class="form-text">
                            <label for="name">Введите название</label>
                            <input type="text" id="name" name="name" value="@name" required minlength="5" size="24" />
                        </div>
                        <div class="form-text">
                            <label for="description">Введите описание</label>
                            <input type="text" id="description" name="description" value="@description" required minlength="5" size="24" />
                        </div>
                        <div class="form-text">
                            <label for="cshtmlCode">Введите код страницы</label>
                            <textarea class="cshtml" name="cshtmlCode" required minlength="5" size="24">@cshtml </textarea>
                        </div>
                        <div class="form-text">
                            <label for="title">Введите заголовок</label>
                            <input type="text" id="title" name="title" value="@title" required minlength="5" size="24" />
                        </div>
                        <div class="form-text">
                            <input type="submit" class="but" value="Отправить изменения" />
                        </div>
                    </form>
                }
                connection.Close();
            }
        }
    }
}

