@page "{handler?}"
@using Microsoft.Data.Sqlite;
@using project
@model project.Pages.NewsModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Новости</title>
    <style>
        .news-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .news-post {
            width: 300px;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

            .news-post h2 {
                margin-top: 15px;
                font-size: 18px;
            }

            .news-post p {
                font-size: 14px;
                margin-bottom: 10px;
            }
            .btn-close{
                color: red;
            }
    </style>
</head>
<body>

    <h1>Новости</h1>
    @if(Program.IsAdmin == true){
        <form asp-page-handler="OnAdd" method="get">
            <button class="btn-primary">Добавить новость</button>
        </form>
    }
    
    
    <div class="news-container">
        @for (int i = 0;i<1 ;i++ )
        {
            string sqlExpression = "SELECT * FROM Posts";
            using (var connection = new SqliteConnection("Data Source=project.db"))
            {
                connection.Open();

                SqliteCommand command = new SqliteCommand(sqlExpression, connection);
                using (SqliteDataReader reader = command.ExecuteReader())
                {
                    if (reader.HasRows) // если есть данные
                    {
                        while (reader.Read())   // построчно считываем данные
                        {
                            var id = reader.GetValue(0);
                            var name = reader.GetValue(1);
                            var description = reader.GetValue(2);
                            var cshtml = reader.GetValue(3);


                            <div class="news-post" align="center" id="@id">

                                <form asp-page-handler="OnClick" method="get">
                                <font size="+0">
                                        <input type="submit" value="@Html.Raw(name)">
                                </font>

                                    <input type="number" name="id" id="@id" value="@id" hidden="hidden">
                                </form>

                                <h2>@Html.Raw(description)</h2>


                                @if (Program.IsAdmin == true)
                                {
                                    <table>
                                        <tr>
                                    <form asp-page-handler="OnDelete" method="get">
                                        <button class="btn-danger"></button>

                                        <input type="number" name="id" id="@id" value="@id" hidden="hidden">
                                    </form>
                                        </tr>
                                        <tr>
                                            <form asp-page-handler="OnEdit" method="get">
                                                <button class="btn-success"></button>

                                                <input type="number" name="id" id="@id" value="@id" hidden="hidden">
                                            </form>
                                        </tr>
                                    </table>

                                }

                            </div>
                            
                        }
                        connection.Close();
                    }
                }
            }
        }
    </div>
</body>
</html>